#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 2rem;
}

body {
  background-color: #FEFCF7;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, button {
  font-family: 'Fraunces', serif;
}

h1 {
  font-weight: 700; /*bold*/
  font-size: 4.5em;
}

h2 {
  font-weight: 500; /* medium */
  font-size: 2.5em;
}

h3 {
  font-weight: 400; /* regular */
  font-size: 2em;

}

h4 {
  font-weight: 300; /* light */
  font-size: 1.5em;
}

img, button {
  border-radius: 10px;
}

button {
  border: none;
  color: #FEFCF7;
  font-weight: 700;
  font-size: 1.1em;
  padding: 15px 30px;
}

/* Custom Buttons */
.main-btn-default {
  background-color: #0E8784;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  font-weight: bold;
  color: #83888F;
  text-transform: uppercase;
}

.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu ul li{
  margin-left: 1.5rem;
}

/* Home */
.coffeepress-container {
  position: relative;
  margin-top: 32px; /* same as 2rem */
}

.coffeepress-txt-container {
  position: absolute;
  top: 10%;
  left: 7%;
  text-align: start;
  color: #FEFCF7;
}

.coffeepress-txt-container p {
  margin: -15px 0 40px 0;
  line-height: 26px;
}

#collection {
  font-size: 6em;
  background: -webkit-linear-gradient(#83888F, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collection-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-flex-container img {
  width: 25%;
  height: 25%
  object-fit: cover;
  
}
