#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: #FEFCF7;
  font-family: 'Barlow', sans-serif;
  line-height: 26px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main, section {
  position: relative;
  margin-top: 32px; /* same as 2rem */
}

/* Main font */
h1, h3, h3, h4, button,
.why-choose-txt-container > h2,
.main-bg-txt-container > h2,
#commitment-title,
#quality-title,
.select-question {
  font-family: 'Fraunces', serif;
}

h1 {
  font-weight: 700; /*bold*/
  font-size: 4.5em;
  line-height: 72px;
}

h2 {
  font-weight: 500; /* medium, 40px */
  font-size: 2.5em;
  line-height: 48px;
}

h3 {
  font-weight: 400; /* regular, 32px*/
  font-size: 2em;
  line-height: 36px;
}

h4 {
  font-weight: 300; /* light, 24px */
  font-size: 1.5em;
  line-height: 32px;
}

img, button,
.why-choose-container, .why-card-container, .quality-container,  .how-container-dark, .select-card-container { 
  border-radius: 10px;
}

button {
  border: none;
  font-size: 1.1em;
  padding: 15px 30px;
}


/* Custom Buttons */
.main-btn-default {
  background-color: #0E8784;
}

/* Light color */
button, 
.main-bg-txt-container,
.why-choose-txt-container,
.why-card-container,
.quality-txt-container,
.how-step-label-dark,
.how-step-desc-dark {
  color: #FEFCF7;
}

/* Grey color */ 
.nav-menu-ul > li,
a,
.how-hq-txt-grey,
.aside-step-container,
.select-question
{
  color: #83888F;
}

/* Dark blue color */
.how-hq-step-label,
.how-hq-step-desc,
#commitment-title,
.commitment-label,
 {
  color: #333D4B;
}

/* Dark grey color */
footer, .why-choose-container, .quality-container, .how-container-dark, .order-summary-container {
  background-color: #2C343E;
}

/* Bold text */
button, 
.nav-menu,
.collection-label,
#why-choose-title,
.why-label,
.how-hq-txt-grey,
.how-hq-step-label,
#commitment-title
#quality-title,
.aside-step-id,
.aside-step-label,
.select-label {
  font-weight: 700;
}

/*** Navbar & Footer component ***/
.nav-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-ul {
  display: flex;
  list-style: none;
}

.nav-menu-ul > li {
  margin-left: 1.5rem;
  text-transform: uppercase;
  line-height: 15px;
}

a:link { 
  text-decoration: none; 
} 

a:link:hover {
  text-decoration: underline;
}

footer {
  padding: 30px 70px;
  margin-top: auto;
  bottom: 0;
}

#footer-links-container {
  margin-right: 25%;
}

#footer-social-container {
  margin-right: 40px;
}

/*** Home ***/
.main-bg-txt-container {
  position: absolute;
  top: 10%;
  left: 7%;
  text-align: start;
}

.main-bg-txt-container > p {
  margin: -15px 0 40px 0;
}

#our-collection {
  font-size: 9.375em; /* 150px */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-text-stroke: 1px #979797;
}

.collection-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-item-container {
  width: 25%;
  height: 25%;
  translate: 0 -35%;
}

.collection-item-container > img {
  width: 255px;
  height: 193px;
  margin-left: 5%;
}

.why-choose-container, .quality-container, .how-container-dark {
  height: 577px;
  width: 1280px;
}

.why-choose-txt-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-card-flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.why-card-container {
  height: 380px;
  width: 350px;
  background: #0E8784;
}

.why-card-container, .quality-container {
  margin-top: 25%;
}

.why-card-info {
  margin-top: 30%;
}

#why-card-info-truck {
  margin-top: 36%;
}

.how-hq-container {
  height: 565px;
  width: 1045px;
  text-align: start;
  margin: 20% 5%;
}

.hr-shared {
  position: absolute;
  top: 75px;
  height: 2px;
  margin-top: 55px;
  background-color: #FDD6BA;
  border: none; 
}

#how-hr {
  width: 65%;
  z-index:-1;
}

.how-hq-flex-container, .how-flex-container-dark {
  display: flex;
  flex-wrap: wrap;
}

.how-hq-flex-container {
  margin-top: 80px;    /* affects hr margin-top */
}

.how-hq-step-container {
  height: 355px;
  width: 285px;
  margin-right: 5%;
}

.how-step-number {
  color: #FDD6BA;
}

/** About component **/
.commitment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.commitment-txt-container {
  text-align: start;
}

.quality-container > img  {
  translate: 75% -20%;
}

.quality-txt-container {
  position: absolute;
  text-align: start;
  top: 20%;
  left: 7%;
  height: 200px;
  width: 540px;
}

.quality-desc {
  font-size: 0.9375em;
  line-height: 25px;
}

/** CreatePlan component **/
.how-plan-content-margin, .aside-step-col, .select-col {
  margin-left: 7%;
}

.how-container-dark {
  text-align: start;
}

.how-plan-content-margin {
  transform: translateY(50px);
}

#hr-dark {
  z-index: 1;
  margin-left: 1%;
  width: 58.3%;
  transform: translateY(-115px);
}

.how-flex-container-dark {
  margin-top: 75px;
}

/** Aside + Plan div **/
.aside-plan-flex-container {
  display: flex;
  margin: 10% 0 40% 0;
}

/** Aside tag **/
.aside-step-col {
  height: 355px;
  width: 255px;
}

.aside-step-container {
  display: flex;
}

.aside-step-id {
  margin-right: 24px;
}

.aside-hr {
  position: absolute;
  width: inherit;
  height: 1px;
  background-color: #979797;
}

/** Select section **/
.select-col {
  text-align: start;
  height: 355px;
  width: 730px;
  margin-bottom: 30%;
}

.select-intro-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.select-question {
  transform: translateY(-2rem);
}

.arrow {
  border: solid #0E8784;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  margin-right: 24px;
  transition: .2s ease-in-out;

}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-flex-container {
  display: flex;
}

.select-card-container {
  background: #F4F1EB;
  margin: 0 24px 50px 0;
  height: 250px;
  width: 230px;
}

.select-card-container:hover {
  background: #FDD6BA;
  transition: 0.3s;
}

.select-card-info {
  padding: 23px;
}

.select-label, .select-desc {
  color: #333D4B;
}

/** Order Summary **/
.order-summary-content {
  padding: 10px 50px;
  color: #FFFFFF;
}

.order-summary-content > h4 {
  line-height: 40px;
  font-weight: 700;
}