#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: #FEFCF7;
  font-family: 'Barlow', sans-serif;
  line-height: 26px;
}

main, section {
  position: relative;
  margin-top: 32px; /* same as 2rem */
}

/* Main font */
h1, h3, h3, h4, button,
.why-choose-txt-container > h2,
.main-bg-txt-container > h2,
#commitment-title {
  font-family: 'Fraunces', serif;
}

h1 {
  font-weight: 700; /*bold*/
  font-size: 4.5em;
  line-height: 72px;
}

h2 {
  font-weight: 500; /* medium */
  font-size: 2.5em;
  line-height: 48px;
}

h3 {
  font-weight: 400; /* regular */
  font-size: 2em;
  line-height: 36px;
}

h4 {
  font-weight: 300; /* light */
  font-size: 1.5em;
  line-height: 32px;
}

img, button,
.why-choose-container, .why-card-container, .quality-container { 
  border-radius: 10px;
}

button {
  border: none;
  font-size: 1.1em;
  padding: 15px 30px;
}

/* Custom Buttons */
.main-btn-default {
  background-color: #0E8784;
}

/* Light color */
button, 
.main-bg-txt-container,
.why-choose-txt-container,
.why-card-container,
.quality-txt-container {
  color: #FEFCF7;
}

/* Grey color */ 
.nav-menu-ul > li,
a,
#how-it-works {
  color: #83888F;
}

/* Dark blue color */
.how-step-label,
.how-step-desc,
#commitment-title,
.commitment-label {
  color: #333D4B;
}

/* Dark grey color */
footer, .why-choose-container, .quality-container  {
  background-color: #2C343E;
}

/* Bold text */
button, 
.nav-menu,
.collection-label,
#why-choose-title,
.why-label,
#how-it-works,
.how-step-label,
#quality-title {
  font-weight: 700;
}

/*** Navbar & Footer component ***/
.nav-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-ul {
  display: flex;
  list-style: none;
}

.nav-menu-ul > li {
  margin-left: 1.5rem;
  text-transform: uppercase;
  line-height: 15px;
}

a:link { 
  text-decoration: none; 
} 

a:link:hover {
  text-decoration: underline;
}

footer {
  padding: 30px 70px;
}

#footer-links-container {
  margin-right: 25%;
}

#footer-social-container {
  margin-right: 40px;
}

/*** Home ***/
.main-bg-txt-container {
  position: absolute;
  top: 10%;
  left: 7%;
  text-align: start;
}

.main-bg-txt-container > p {
  margin: -15px 0 40px 0;
}

#our-collection {
  font-size: 9.375em; /* 150px */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-text-stroke: 1px #979797;
}

.collection-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-item-container {
  width: 25%;
  height: 25%;
  translate: 0 -35%;
}

.collection-item-container > img {
  width: 255px;
  height: 193px;
  margin-left: 5%;
}

.why-choose-container, .quality-container {
  height: 577px;
  width: 1280px;
}

.why-choose-txt-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-card-flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.why-card-container {
  height: 380px;
  width: 350px;
  background: #0E8784;
  margin-top: 25%;
}

.why-card-info {
  margin-top: 30%;
}

#why-card-info-truck {
  margin-top: 36%;
}

.how-container {
  height: 565px;
  width: 1045px;
  text-align: start;
  margin: 25% 5%;
}

hr {
  position: absolute;
  top:70px;
  height: 2px;
  width: 65%;
  z-index:-1;
  margin-top: 55px;
  background-color: #FDD6BA;
  border: none;
}

.how-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;    /* affects hr margin-top */
}

.how-step-container {
  height: 355px;
  width: 285px;
  margin-right: 5%;
}

.how-step-number {
  color: #FDD6BA;
}

/** About component **/
.commitment-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 100px 0;
}

.commitment-txt-container {
  text-align: start;
}

#commitment-title {
  font-weight: 700;
}

.quality-container {
  margin-top: 25%;
}

.quality-container > img  {
  translate: 0 -50%;
}

.quality-txt-container {
  position: absolute;
  top: 45%;
  left: 29%;
  height: 200px;
  width: 540px;
}

.quality-desc {
  font-size: 0.9375em;
  line-height: 25px;
}

